* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #07070f; color: #EEEDFE; -webkit-font-smoothing: antialiased; }
a { color: inherit; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #07070f; }
::-webkit-scrollbar-thumb { background: #534AB7; border-radius: 2px; }
